table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid gray;
  padding: 8px;
}
.id-col {
  width: 5%;
  text-align: center;
}
.item-col {
  width: 60%;
}
.nome-col {
  width: 30%;
  text-align: center;
}
